body{
    background-color: #C6D8D3;
}

.navbar{
    background-color: #FDF0D5;
}


.pp {
width: 50px;
height: 50px;
object-fit: cover;
border-radius: 50%;
float: left;
margin: 10px;
}

.col-lg-4 {
border: solid 1px black;
margin-bottom: 15px;
}

.form-inline{
    float: left;
}

#about-us{
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 25px;
    border: black solid;
    background-color: white;
}

<<<<<<< HEAD
#about-title{
    text-align: center;
}


.form-control{
    margin: 3px;
}

#dropdownMenu2{
    background-color: tomato;
}

.col-lg-4{
    background-color: #FDF0D5;
}

.butn{
    color: tomato;
}

#tutors-title{
    margin-left: 30px;
=======
.ppLarge{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin: 20px;
>>>>>>> 6527eab58a5d39886f96dd35f37c52a6f959352e
}