
body{
    background-color: #C6D8D3;
}

.navbar{
    background-color: #FDF0D5;
}


.pp {
width: 50px;
height: 50px;
object-fit: cover;
border-radius: 50%;
float: left;
margin: 10px;
}

.col-lg-4 {
border: solid 1px black;
margin-bottom: 15px;
}

.form-inline{
    float: left;
}

#about-us{
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 25px;
    border: black solid;
    background-color: white;
}

#about-title{
    text-align: center;
}


.form-control{
    margin: 3px;
}

#dropdownMenu2{
    background-color: tomato;
}

.col-lg-4{
    background-color: #FDF0D5;
}

.butn{
    color: tomato;
}

.small-title{
    margin: 30px;
    padding-left: 12px;
    width: 230px;
}

.ppLarge{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin: 20px;
}


#bob{
    
    background-color: #FDF0D5;
    border: 1px black solid;
    margin-left: 15px;
    margin-right: 20px;
    padding: 20px;
    margin-top: 10px;   
}

#name{
    color: tomato;
}

.navbar-brand{
    float: left;
}


.form-control{
    background-color: #FDF0D5;
    width: 300px;
}

#TimePicker{
    background-color: #FDF0D5;
}

#datePicker{
    background-color: #FDF0D5;
}

.submit
{
    margin: 10px;
}
